<div class="jumbotron" style="padding-bottom: 5px">
	<div class="container">
		<h2>Bibliothèque Cuicui</h2>
		<p>Pas seulement des livres sur les cuicui</p>
		<form class="form-horizontal" method="POST" action="/recherche" class="pull-right">
			<button type="submit" class="btn btn-info pull-right" style="font-size: 14px">
			<span class="glyphicon glyphicon-search"></span>
		</button>
			<input class="form-control mr-sm-2 pull-right" placeholder="Recherche" id="motRecherche" name="motRecherche" style="width: 80%; float: right"
				autocomplete="off" />
		</form>
		<!--<div>
			<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="float: right">Recherche avancée</button>
			<div id="demo" class="collapse">
				<div class="container">
					<form role="form">
						<div class="form-group">
							<label for="sel1">Auteur :</label>
							<select class="form-control" id="sel1" style="width: 10%">
								<option *ngFor="let edit of editeurs" value="1">{{edit.nom}}</option>
							</select> <label for="sel2">Categorie :</label>
							<select class="form-control" id="sel2" style="width: 10%">
								<option>1</option>
							</select>
							<label for="sel3">Editeur :</label>
							<select class="form-control" id="sel3" style="width: 10%">
								<option>1</option>
							</select>
						</div>
					</form>
				</div>
			</div>
		</div>-->
	</div>
</div>
<div class="container">
	<div class="row">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a routerLink="/accueil" class="navbar-brand">Accueil</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a routerLink="/auteurs">Auteurs</a></li>

					<li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Catégories<span
						class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a routerLink="/categorie/roman">Roman</a></li>
							<li><a routerLink="/categorie/biographie">Biographie</a></li>
							<li><a routerLink="/categorie/jeunesse">Jeunesse</a></li>
						</ul>
					</li>

					<li><a routerLink="/categorie/jeunesse">Jeunesse</a></li>
					<li><a routerLink="/periodiques">Périodiques</a></li>
					<li><a routerLink="/bibliotheques">Bibliothèques</a></li>
					<li *ngIf="user && user.admin">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrateur<span
						class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a routerLink="/admin/membres">Liste des membres</a></li>
							<li><a routerLink="/admin/inscription">Inscription</a></li>
							<li><a routerLink="/admin/emprunts">Gestion des emprunts</a></li>
							<li role="separator" class="divider"></li>
							<li><a routerLink="/admin/livres">Liste des livres</a></li>
							<li><a routerLink="/admin/ajoutlivre">Ajouter un livre</a></li>
							<li role="separator" class="divider"></li>
							<li><a routerLink="/admin/bibliotheques">Liste des bibliothèques</a></li>
							<li><a routerLink="/admin/ajoutbibliotheque">Ajout d'une bibliothèque</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li *ngIf="user; else conn" (click)="logout()"><a style="cursor: pointer;">Déconnexion</a></li>
					<ng-template #conn>
						<li><a routerLink="/connexion">Connexion</a></li>
					</ng-template>
				</ul>
			</div>
		</nav>
	</div>
</div>