<div class="jumbotron" style="padding-bottom: 5px; background-image: url('http://localhost:8080/ProjetFormation/image/?imagePath=Ifond.jpg'); height: 195px">
	
	<div class="container">
		<div style="padding-top: 100px">
		<form class="form-horizontal" method="GET" class="pull-right">
			<input #motRecherche class="btn btn-default pull-right" placeholder="Recherche" id="motRecherche" name="motRecherche" style="width: 80%; color:#ac4a00; float: right"
				autocomplete="off" />
			<button type="submit" (click)="search(motRecherche.value)" class="btn btn-info pull-right" style="font-size: 14px; background-color: #ce934d; border-color: #684529;">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</form>
	</div>
	</div>
	
</div>
<div class="container">
	<div class="row">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a routerLink="/accueil" class="navbar-brand"><span class="glyphicon glyphicon-home" style="font-size:1.1em"></span></a>
				</div>
				<ul class="nav navbar-nav">
					<li><a routerLink="/auteurs">Auteurs</a></li>

					<li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Catégories<span
						class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a routerLink="/categorie/3">Roman</a></li>
							<li><a routerLink="/categorie/1">Biographie</a></li>
							<li><a routerLink="/categorie/2">Jeunesse</a></li>
						</ul>
					</li>

					<li><a routerLink="/categorie/2">Jeunesse</a></li>
					<li><a routerLink="/periodiques">Périodiques</a></li>
					<li><a routerLink="/bibliotheques">Bibliothèques</a></li>
					<li><a routerLink="/panier">Panier</a></li>
					<li *ngIf="user && user.admin">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrateur<span
						class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a routerLink="/admin/membres">Liste des membres</a></li>
							<li><a routerLink="/admin/inscription">Inscription</a></li>
							<li><a routerLink="/admin/emprunts">Gestion des emprunts</a></li>
							<li role="separator" class="divider"></li>
							<li><a routerLink="/admin/livres">Liste des livres</a></li>
							<li><a routerLink="/admin/ajoutlivre">Ajouter un livre</a></li>
							<li role="separator" class="divider"></li>
							<li><a routerLink="/admin/bibliotheques">Liste des bibliothèques</a></li>
							<li><a routerLink="/admin/ajoutbibliotheque">Ajout d'une bibliothèque</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li *ngIf="user; else conn" (click)="logout()"><a style="cursor: pointer;">Déconnexion</a></li>
					<ng-template #conn>
						<li><a routerLink="/connexion">Connexion</a></li>
					</ng-template>
				</ul>
			</div>
		</nav>
	</div>
</div>