<app-header></app-header>
<app-messages></app-messages>
<div class="container">
    <div class="row">
        <div *ngFor="let bibliotheque of listeBibliotheques" class="col-md-3" style="padding-bottom: 15px">
            <div class="thumbnail" style="min-height:186px">
                <div class="caption">
                    <h3 class="text-center" style="color:#c58545">{{bibliotheque.nom}}</h3>
                    <p>{{bibliotheque.adresse}}</p>
                </div>
            </div>
        </div>
    </div>
</div>