<div class="container">
    <form name="creerbibliotheque" class="form-horizontal">
        <fieldset>
            <legend>Ajouter une bibliotheque</legend>
            <div class="form-group">
                <label class="control-label col-lg-2" for="nom">Nom</label>
                <div class="col-lg-10">
                    <input id="nom" name="nom" type="text" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="adresse">Adresse</label>
                <div class="col-lg-10">
                    <input id="adresse" name="adresse" type="text" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" class="btn btn-primary" value="Ajouter" />
                </div>
            </div>
        </fieldset>
    </form>
</div>