<app-header></app-header>
<app-messages></app-messages>
<style>
	h1 {
		text-align: center;
	}
</style>

<div class="container">
	<div class="row">

<div class="row">
<div class="container" *ngIf="auteur">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 style="text-align:center; color:#c58545">{{auteur.prenom}} {{auteur.nom}}</h1>
		</div>
		<div class="panel-body">
			<h3 style="color:#c58545">Biographie</h3>
			<p>{{auteur.biographie}}</p>
		</div>
	</div>
	<div *ngFor="let livre of auteur.livres" class="col-lg-4" style="padding-bottom: 15px">
		<div class="thumbnail" style="min-height: 540px; margin-bottom: 0px">
			<div class="caption">
				<h3 class="text-center" style="color:#c58545">{{livre.titre}}</h3>
				<!--<p style="width: 325px; max-height: 144px; overflow: hidden; text-overflow: ellipsis">{{livre.description}}</p>-->
				<p>Prix : {{livre.prix}}&euro;</p>
				<p>Date de publication : {{livre.datePublication}}</p>
				<div style="text-align: center; bottom: 25px; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
					<img *ngIf="livre.imagePath; else imageVide" src="{{URL}}image/?imagePath={{livre.imagePath}}"
						width="125px" height="175px" class="rounded text-center center-block">
					<ng-template #imageVide><img src="{{URL}}image/?imagePath=imageVide.jpg" width="125px" height="175px" class="rounded text-center center-block"></ng-template>
					<p></p>
					<button type="button" class="btn btn-default">
                            <a routerLink="/livre/{{livre.id}}" style="color:#ce934d"><span class="glyphicon glyphicon-info-sign"></span> Plus d'informations</a>
                        </button>
					<!--<label [(ngModel)]="id" name="L.id" >{{L.id}}</label>-->
					<button *ngIf="user && !user.admin" (click)="ajoutpanier(livre.id)" class="btn btn-primary" style="background-color: #ce934d; border-color: #bd7842;"><span class="glyphicon glyphicon-shopping-cart"></span> Ajout panier</button>
				</div>
			</div>
		</div>
	</div>
</div>