<app-header></app-header>
<app-messages></app-messages>
<style>
	h1 {
		text-align: center;
	}
</style>

<div class="container">
	<div class="row">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 style="text-align:center">{{auteur.prenom}} {{auteur.nom}}</h1>
			</div>
			<div class="panel-body">
				<h3>Biographie</h3>
				<p>{{auteur.biographie}}</p>
			</div>
		</div>
		<div *ngFor="let livre of auteur.livres" class="col-lg-4" style="padding-bottom: 15px">
			<div class="thumbnail" style="min-height: 530px; margin-bottom: 0px">
				<div class="caption">
					<h3>{{livre.titre}}</h3>
					<p style="width: 340px; max-height: 144px; overflow: hidden; text-overflow: ellipsis">{{livre.description}}</p>
					<p>Prix : {{livre.prix}}&euro;</p>
					<p>Date de publication : {{livre.datePublication}}</p>
					<div style="text-align: center; bottom: 25px; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
						<img *ngIf="livre.imagePath; else imageVide" src="http://localhost:8080/ProjetFormation/image/?imagePath={{livre.imagePath}}"
							width="125px" height="175px" class="rounded text-center center-block">
						<ng-template #imageVide><img src="http://localhost:8080/ProjetFormation/image/?imagePath=imageVide.jpg" width="125px" height="175px" class="rounded text-center center-block"></ng-template>
						<p></p>
						<button type="button" class="btn btn-default">
							<a routerLink="/livre/{{livre.id}}"><span class="glyphicon glyphicon-info-sign"></span> Plus d'informations</a>
						</button>
						<button type="button" class="btn btn-default">
							<a routerLink="/livre"> <span class="glyphicon glyphicon-shopping-cart"></span> Ajout au panier</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>