<app-header></app-header>
<app-messages></app-messages>
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 style="text-align: center; color:#c58545">{{livre.titre}}</h1>
        <p style="text-align:center"><b *ngFor="let auteur of livre.auteurs"><i>{{auteur.prenom}} {{auteur.nom}}</i></b></p>
      </div>
      <p></p>
      <p><img *ngIf="livre.imagePath; else imageVide" src="{{URL}}image/?imagePath={{livre.imagePath}}" width="125px" height="175px" class="rounded text-center center-block">
                        <ng-template #imageVide><img src="{{URL}}image/?imagePath=imageVide.jpg" width="125px" height="175px" class="rounded text-center center-block"></ng-template></p>
      <div class="container-fluid">
      <h3 style="color:#c58545">Resumé :</h3>
      <p>{{livre.description}}</p>
       </div>
    </div>
    <div class="thumbnail">
      <!--<p><strong>editeur :</strong> {{livre.editeur.nom}}</p>
      <p><strong>adresse editeur :</strong> {{livre.editeur.adresse}}</p>-->
      <p><strong>date de publication :</strong> {{livre.datePublication}}</p>
      <p><strong>prix :</strong> {{livre.prix}} &euro;</p>
      <!--<p><strong>catégorie :</strong> {{livre.categorie.nom}}</p>-->
    </div>
    <button *ngIf="user && !user.admin" (click)="ajoutpanier(livre.id)" class="btn btn-primary center-block" style="background-color: #ce934d; border-color: #bd7842;"><span class="glyphicon glyphicon-shopping-cart"></span> Ajout panier</button>
  </div>
</div>