<app-header></app-header>
<app-messages></app-messages>
<div class="container">
  <div class="row">
    <h2>Liste des livres</h2>
    <table class="table table-striped">
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Date de publication</th>
        <th>Recommandé</th>
        <th>Periodique</th>
        <th>Actions</th>
      </tr>

      <tr *ngFor="let livre of listeLivres">
        <td>{{livre.titre}}</td>
        <td>{{livre.description}}</td>
        <td>{{livre.prix}}</td>
        <td>{{livre.datePublication}}</td>
        <td *ngIf="livre.popular; else notPopular">Oui</td>
        <ng-template #notPopular><td>Non</td></ng-template>
        <td *ngIf="livre.periodic; else notPeriodic">Oui</td>
        <ng-template #notPeriodic><td>Non</td></ng-template>
        <td style="white-space:nowrap">
            <button type="button" (click)="modifLivre(livre.id)" class="btn btn-primary"><a routerLink="/admin/modiflivre/{{livre.id}}">
                            <span class="glyphicon glyphicon-pencil" style="color:white"></span></a>
                        </button>
          <button onClick="loadDel(livre.id)" class="btn btn-danger" data-toggle="modal" data-target="#modalDel">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button></td>
      </tr>
    </table>
  </div>
  <div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Supprimer un livre</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
          <h5>Etes vous sûr de vouloir supprimer ce livre ?</h5>
        </div>
        <div class="modal-footer">
          <form action="/supprimer" method="post">
            <input type="hidden" name="livreId" id="livreId" />
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-danger">Supprimer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
function loadDel(id_livre){
document.getElementById('livreId').value = id_livre;
}

</script>
</div>