<app-header></app-header>
<app-messages></app-messages>
<div class="container">
    <div class="row">
        <div *ngFor="let liste of listeLivres" class="col-md-3" style="padding-bottom: 15px">
            <div class="thumbnail" style="min-height: 564px">
                <div class="caption">
                    <h3>{{liste.titre}}</h3>
                    <p>
                        <b *ngFor="let auteur of livre.auteurs"><i>{{auteur.prenom}} {{auteur.nom}}</i></b>
                    </p>
                    <p style="width: 250px; max-height: 144px; overflow-y: hidden; text-overflow-y: ellipsis">{{liste.description}}</p>
                    <p>Prix: {{liste.prix}}&euro;</p>
                    <p>Date de publication: {{liste.datePublication}}</p>
                    <div style="text-align: center; bottom: 55px; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
                        <img *ngIf="liste.imagePath; else imageVide" src="http://localhost:8080/ProjetFormation/image/?imagePath={{liste.imagePath}}" width="125px" height="175px" class="rounded text-center center-block">
                        <ng-template #imageVide><img src="http://localhost:8080/ProjetFormation/image/?imagePath=imageVide.jpg" width="125px" height="175px" class="rounded text-center center-block"></ng-template>
                        <p></p>
                        <button type="button" class="btn btn-default">
                            <a routerLink="/livre/{{liste.id}}"><span class="glyphicon glyphicon-info-sign"></span>Plus d'infos</a>
                        </button>
                        <button type="button" class="btn btn-default">
                            <a routerLink="/livre"><span class="glyphicon  glyphicon-shopping-cart"></span>Ajout panier</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>