<div class="container">
    <form name="creerlivre" class="form-horizontal">
        <fieldset>
            <legend>Ajouter un livre</legend>
            <div class="form-group">
                <label class="control-label col-lg-2" for="titre">Titre</label>
                <div class="col-lg-10">
                    <input id="titre" type="text" [(ngModel)]="livre.titre" required="required" class="form-control" name="titre" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="description">Description</label>
                <div class="col-lg-10">
                    <input id="description" type="text" [(ngModel)]="livre.description" required="required" class="form-control" name="description"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="prix">Prix</label>
                <div class="col-lg-10">
                    <input id="prix" type="text" [(ngModel)]="livre.prix" class="form-control" name="prix" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="date">Date de
                publication</label>
                <div class="col-lg-10">
                    <input id="date" type="date" [(ngModel)]="livre.datePublication" required="required" class="form-control" name="datePublication"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="image">Image</label>
                <div class="col-lg-10">
                    <input id="image" type="text" [(ngModel)]="livre.imagePath" class="form-control" name="imagePath" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="populaire">Recommande</label>
                <div class="col-lg-10">
                    <input type="checkbox" [(ngModel)]="livre.isPopular" id="populaire" name="isPopular" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="periodique">Periodique</label>
                <div class="col-lg-10">
                    <input type="checkbox" [(ngModel)]="livre.isPeriodic" id="periodique" name="isPeriodic" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button (click)="ajoutLivre()" class="btn btn-primary">Ajouter le livre</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>