<app-header></app-header>
<app-messages></app-messages>
<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Modifiez le livre</legend>
            <div class="form-group">
                <label class="control-label col-lg-2" for="titre">Titre*</label>
                <div class="col-lg-10">
                    <input id="titre" name="titre" [(ngModel)]="livre.titre" type="text" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="description">Description*</label>
                <div class="col-lg-10">
                    <input id="description" name="description" [(ngModel)]="livre.description" type="text" required="required" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="prix">Prix*</label>
                <div class="col-lg-10">
                    <input id="prix" name="prix" type="text" [(ngModel)]="livre.prix" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="date">Date de
                publication</label>
                <div class="col-lg-10">
                    <input id="date" name="datePublication" type="date" [(ngModel)]="livre.date" required="required" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="image">Image</label>
                <div class="col-lg-10">
                    <input id="image" name="imagePath" type="text" [(ngModel)]="livre.imagePath" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="populaire">Recommande</label>
                <div class="col-lg-10">
                    <input *ngIf="livre.popular; else notPopular" type="checkbox" [(ngModel)]="livre.popular" id="populaire" name="isPopular" checked/>
                    <ng-template #notPopular><input type="checkbox" [(ngModel)]="livre.popular" id="populaire" name="isPopular" /></ng-template>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="periodique">Periodique</label>
                <div class="col-lg-10">
                    <input *ngIf="livre.periodic; else notPeriodic" type="checkbox" [(ngModel)]="livre.periodic" id="periodique" name="isPeriodic" checked/>
                    <ng-template #notPeriodic><input type="checkbox" [(ngModel)]="livre.periodic" id="periodique" name="isPeriodic"/></ng-template>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" (click)="modifLivre(livre.id)" id="btnAdd" class="btn btn-primary" value="Modifier" />
                </div>
            </div>
            <i>*: Champs obligatoires</i>
        </fieldset>
    </form>
</div>