<app-header></app-header>
<app-messages></app-messages>
<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Modifiez le livre</legend>
            <div class="form-group">
                <label class="control-label col-lg-2" for="titre">Titre*</label>
                <div class="col-lg-10">
                    <input id="titre" name="titre" type="text" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="description">Description*</label>
                <div class="col-lg-10">
                    <input id="description" name="description" type="text" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="prix">Prix*</label>
                <div class="col-lg-10">
                    <input id="prix" name="prix" type="text" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="date">Date de
                publication</label>
                <div class="col-lg-10">
                    <input id="date" name="datePublication" type="date" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="image">Image</label>
                <div class="col-lg-10">
                    <input id="image" name="imagePath" type="text" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="populaire">Recommande</label>
                <div class="col-lg-10">
                    <input type="checkbox" id="populaire" name="isPopular" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="periodique">Periodique</label>
                <div class="col-lg-10">
                    <input type="checkbox" id="periodique" name="isPeriodic" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" id="btnAdd" class="btn btn-primary" value="Modifier" />
                </div>
            </div>
            <i>*: Champs obligatoires</i>
        </fieldset>
    </form>
</div>