<div class="row">
	<div class="container">
		<h1>{{titre}}</h1>
		<div *ngFor="let auteur of listeAuteurs" class="col-lg-4" style="padding-bottom: 30px">
			<div class="caption">
				<div class="panel panel-default" style="background-color: #eee; border-color: #999">
					<h3 class="text-center">
						<i>{{auteur.prenom}}</i> <b>{{auteur.nom}}</b>
					</h3>
					<img *ngIf="auteur.imagePath; else imageVide" src="http://localhost:8080/ProjetFormation/imageauteur/?imagePath={{auteur.imagePath}}" width="180px" height="250px" class="rounded text-center center-block">
                        <ng-template #imageVide><img src="http://localhost:8080/ProjetFormation/imageauteur/?imagePath=imageVide.jpg" width="180px" height="250px" class="rounded text-center center-block"></ng-template>
					<button type="button" class="btn btn-outline-success and-all-other-classes center-block" style="background-color: #d9edf7">
							<a routerLink="/auteur/{{auteur.id}}" style="color: inherit">
								Plus d'info </a>
						</button>
				</div>
			</div>
		</div>
	</div>
</div>