<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Modifiez votre compte</legend>
            <div class="form-group">
                <label class="control-label col-lg-2" for="email">Email*</label>
                <div class="col-lg-10">
                    <input id="email" name="email" type="email" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="nom">Nom</label>
                <div class="col-lg-10">
                    <input id="nom" name="nom" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="prenom">Prenom</label>
                <div class="col-lg-10">
                    <input id="prenom" name="prenom" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="adresse">Adresse</label>
                <div class="col-lg-10">
                    <input id="adresse" name="adresse" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="ville">Ville</label>
                <div class="col-lg-10">
                    <input id="ville" name="ville" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="codePostal">Code Postal</label>
                <div class="col-lg-10">
                    <input id="codePostal" name="codePostal" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="telephone">Telephone</label>
                <div class="col-lg-10">
                    <input id="telephone" name="telephone" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="admin">Administrateur</label>
                <div class="col-lg-10">
                    <input type="checkbox" id="admin" name="admin" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" id="btnAdd" class="btn btn-primary" value="Modifier" />
                </div>
            </div>
            <i>*: Champs obligatoires</i>
        </fieldset>
    </form>
</div>